@media (max-width: 994px) {
  .swapi-navigation {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 60px;

    #swapinav {
      width: 100%;
      position: fixed;
      top: 80px;
      left: -100%;
      height: 100%;

      ul{
        li{
          border-bottom-width: 1px;
          border-bottom-color: darkgray;
          border-bottom-style: solid;
        }
      }
    }

    .navigation-menu-expanded {
      height: 100px;
      width: 100px;
      transition: all .5s ease;
      cursor: pointer;
      left: 0px;
      transform: translate(100%, 0);
    }


    .navigation-menu {
      height: 100px;
      width: 100px;
      transition: all .5s ease;
      cursor: pointer;
      left: -100%;
      transform: translate(-100%, 0);
    }
  }
}

