// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

h1{
  padding:10px;
}

.swapi-navigation {
  .table {
    thead {
      tr th {
        padding: 20px 5px;
      }
    }
  }
}

.swapitable{
  ul{
    li{
      list-style: none;
    }
  }
}

@media (max-width: 767.98px) {
  .swapitable{
    tbody{
      tr{
        display: flex;
        flex-direction: column;
          td{
            width: 100%;
            border-bottom-width: 0px;
            box-shadow: none;
            text-align: center;
            vertical-align: middle;

            &:first-child{
              border-bottom-width: 0px;
              box-shadow: none;
            }

            &:nth-child(2) {
              background-color: #454545;
            }

            ul{
              padding-left:0px;
            }
          }
      }
    }
  }
}

